.who{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}
.intro{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.users-container{
   display: flex;
   width: 100%;
   height: auto;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 8rem; 

}
.add_user{
    border-radius:150px ;
    width: 250px;
    height: 250px;
    background: url(https://www.svgrepo.com/show/138461/add-user-symbol.svg);
    background-color: white;
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    
}
.add_user:hover{
    cursor: pointer;
}


.user_description{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.player{
    
    border-radius:150px ;
    width: 250px;
    height: 250px;
    background: url(https://p4.wallpaperbetter.com/wallpaper/559/670/367/death-mask-hero-evil-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
    
}

.player:hover{
    cursor: pointer;
}
.guest_1{
    border-radius:150px ;
    width: 250px;
    height: 250px;
    background: url(https://static.thenounproject.com/png/3762957-200.png);
    background-size:10rem;
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    
}

.guest_1:hover{
    cursor: pointer;
}